.single-project {
  width: 100%;
  .single-project-content {
    width: 100%;
    display: flex;
    gap: 3rem;
    align-items: center;
    border-top: 0.05rem solid rgb(214, 210, 210);

    .img-section {
      width: 30rem;
      height: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        object-position: center;
        border-radius: 2rem;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13);
      }
    }
    .desc-section {
      width: 70%;

      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      span {
        display: inline-block;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.5rem;
        background: black;
        color: white;
        border-radius: 1rem;
      }
    }
  }
}

@media (max-width: 700px) {
  .single-project {
    .single-project-content {
      flex-direction: column;
      gap: 0;
      .img-section {
        img {
          width: 70%;
          height: 70%;
        }
      }
      .desc-section {
        width: 90%;
        text-align: center;

        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.5rem;
        }

        span {
          font-size: 1.3rem;
        }
      }
    }
  }
}
